{{if eq .Errors 0}}
{
  "embeds": [
    {
      "title": "{{.PatternName}}",
      "color": 1696256,
      "footer": {
        "text": "Position : {{.PatternTile.X}} {{.PatternTile.Y}} {{.PatternPos.X}} {{.PatternPos.Y}}"
      },
      "author": {
        "name": "Dessin restauré !"
      },
      "fields": []
    }
  ],
  "username": "Police (ACAB)",
  "avatar_url": "https://p1.hiclipart.com/preview/29/255/586/animated-emoji-thumb-signal-smiley-emoticon-drawing-text-yellow-cartoon-png-clipart.jpg"
}
{{else}}
{
  "embeds": [
    {
      "title": "{{.PatternName}}",
      "color": 14876672,
      "footer": {
        "text": "Position : {{.PatternTile.X}} {{.PatternTile.Y}} {{.PatternPos.X}} {{.PatternPos.Y}}"
      },
      "author": {
        "name": "🚨Alerte vandale {{- if (eq .Errors .ErrorsBefore) }}(Rappel){{ end -}}"
      },
      "fields": [
        {
          "name": "Erreurs avant",
          "value": "{{.ErrorsBefore}}",
          "inline": true
        },
        {
          "name": "Erreurs après",
          "value": "{{.Errors}}",
          "inline": true
        }
      ]
    }
  ],
  "username": "Police (ACAB)",
  "avatar_url": "https://images.emojiterra.com/google/noto-emoji/unicode-15/color/512px/1f6a8.png"
}
{{end}}
