{{if eq .Errors 0}}
{
  "content": "",
  "tts": false,
  "embeds": [
    {
      "title": "{{.PatternName}}",
      "color": 1696256,
      "footer": {
        "text": "Position : {{.PatternPos.Tile.Tx}} {{.PatternPos.Tile.Ty}} {{.PatternPos.X}} {{.PatternPos.Y}}"
      },
      "author": {
        "name": "Drawing restored !"
      },
      "fields": []
    }
  ],
  "components": [],
  "actions": {},
  "flags": 0,
    "username": "Police (ACAB)",
    "avatar_url": "https://p1.hiclipart.com/preview/29/255/586/animated-emoji-thumb-signal-smiley-emoticon-drawing-text-yellow-cartoon-png-clipart.jpg"
}
{{else}}
{
  "embeds": [
    {
      "title": "{{.PatternName}}",
      "color": 14876672,
      "footer": {
        "text": "Position : {{.PatternPos.Tile.Tx}} {{.PatternPos.Tile.Ty}} {{.PatternPos.X}} {{.PatternPos.Y}}"
      },
      "author": {
        "name": "🚨Griefer Alert {{- if (eq .Errors .ErrorsBefore) }}(Rappel){{ end -}}"
      },
      "fields": [
        {
          "name": "Errors before",
          "value": "{{.ErrorsBefore}}",
          "inline": true
        },
        {
          "name": "Errors after",
          "value": "{{.Errors}}",
          "inline": true
        }
      ]
    }
  ],
    "username": "Police (ACAB)",
    "avatar_url": "https://images.emojiterra.com/google/noto-emoji/unicode-15/color/512px/1f6a8.png"
}
{{end}}